body{
    background-color: slategray;
}
.container{
    background-color: blanchedalmond;
    border: darkgray;
    border-style: ridge;
    border-width: 2px;
}
.section{
    padding: 10px;
}
/* Home page headshot image */
#headshot{
    margin: 20px;
    
}
.icon{
    max-width: 40px;
    max-height: 40px;
    padding-left: 10px;
}
.card{
    margin-bottom: 10px;
}

/* Modify screen layout fpr md size screens */
@media screen and (max-width: 768px) {
  
    /* Add margin and center headers on mobile */
    .header{
        margin-top: 20px;
        text-align: center;
    }    
}

/* Modify layout for xs size screens */
@media screen and (max-width: 576px) {
  
    /* Add margin and center headers on mobile  */
    .header{
        margin-top: 20px;
        text-align: center;
    }
}