body{
    background-color: slategray;
}
.container{
    background-color: blanchedalmond;
    border: darkgray;
    border-style: ridge;
    border-width: 2px;
}
.section{
    padding: 10px;
}
/* Home page headshot image */
#headshot{
    margin: 20px;
    
}
.icon{
    max-width: 40px;
    max-height: 40px;
}

/* Modify screen layout fpr md size screens */
@media screen and (max-width: 768px) {
  
    /* Add margin to headers on mobile */
    .header{
        margin-top: 20px;
    }
    /* Add margin to cards on mobile */
    .card{
        margin-bottom: 10px;
    }
}

/* Modify layout for xs size screens */
@media screen and (max-width: 576px) {
  
    /* Add margin to headers on mobile */
    .header{
        margin-top: 20px;
    }
    .icon{
        align-content: center;
    }
    /* Add margin to cards on mobile */
    .card{
        margin-bottom: 10px;
    }

}