#portfolio,
#contact{
    display:none;
}
body{
    background-image: url("../images/background.jpg");
    background-size: 2000px;
}
.container{
    background-color: blanchedalmond;
    border: darkgray;
    border-style: ridge;
    border-width: 2px;
}

#home,
#portfolio,
#contact{
    border-radius: 0px 0px 20px 20px;
}
.section{
    padding: 10px;
}
/* Home page headshot image */
#headshot{
    margin: 20px;
    
}
.icon{
    max-width: 40px;
    max-height: 40px;
    padding-left: 10px;
}
.card{
    margin-bottom: 10px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 12px;
    margin-bottom: 20px;
}

.carousel-caption{
    font-size: 20px;
    color: black;
}

  /* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

/* Modify screen layout fpr md size screens */
@media screen and (max-width: 768px) {

    /* Add margin and center headers on mobile */
    .header{
        margin-top: 20px;
        text-align: center;
    }    
}

/* Modify layout for xs size screens */
@media screen and (max-width: 576px) {

    /* Add margin and center headers on mobile  */
    .header{
        margin-top: 20px;
        text-align: center;
    }
}